body {
  	margin: 0;
  	padding: 0;
 	  font-family: sans-serif;
   	background-color: #222;
   	color: white
}
b{
	padding-left: 30px;
}

.App {
  	text-align: center;
}

.App-logo {
  	animation: App-logo-spin infinite 20s linear;
  	height: 80px;
}

.App-header {
  height: 130px;
  padding: 20px;

}



.wall {
  background-color: gray;
}

.floot {
  background-color: white;
}

.player {
  background-color: blue;
}

.enemy {
  background-color: red;
}

.weapon {
  background-color: orange;
}

.health {
  background-color: green;
}

.exit {
  background-color: purple;
}
.boss {
  background-color: black;
}
.shade{
  background-color: black;
}
.tile {
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    float: left;
    letter-spacing: 7px;
    width: .75em;
    /* margin: 0px; */
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    height: .75em;
}



.subtitle-box{
    float: right;
    border: 4px solid white;
    border-radius: 13px;
    margin-right: 9%;
    margin-top: 20px;;
}
.board-box{
    border-radius: 13px;
    border: 4px solid white;
    float: left;
    width: 691px;
    height: 510px;   
    margin-top: 20px;
    position: absolute;
    left: 50%;
    margin-left: -336px;
}
.btn-primary{
      margin-left: 30px;
}
